<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rezultati</title>
    @using System.Web.Optimization
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/MDB")
    @Styles.Render("~/Content/datatablesCss")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css" />

</head>
<body class="mt-0 pt-0">

    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-brand">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Rezultati", "Index", "Tim", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="~/Tim/List">Timovi</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/Igrac/List">Igrači</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/Utakmica/Pregled">Utakmice</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                @RenderBody()
            </div>
            <div class="col-md-2"></div>
            
        </div>

        <footer class="mt-5">
            <hr />
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/Scripts/mdb")
    @Scripts.Render("~/Content/datatablesJs")
    @Scripts.Render("~/Content/charts")
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    @RenderSection("scripts", required: false)

   
</body>
</html>
