@model IEnumerable<Rezultati.Models.TimViewModel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mt-3 row">
    <h2>Istočna konferencija</h2>


    <table id="tableIstok" class="table table-hover table-sm table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor(m => m.Naziv)</th>
                <th>@Html.DisplayNameFor(m => m.Pobjede)</th>
                <th>@Html.DisplayNameFor(m => m.Porazi)</th>
                <th>@Html.DisplayNameFor(m => m.PostignutiKosevi)</th>
                <th>@Html.DisplayNameFor(m => m.PrimljeniKosevi)</th>
                <th>@Html.DisplayNameFor(m => m.ProcentPobijeda)</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0, j = 1; i < Model.Count(); i++)
            {
                if (Model.ElementAt(i).KonferencijaId == 1)
                {
                    <tr>
                        <td>@j</td>
                        <td>@Model.ElementAt(i).Grad @Model.ElementAt(i).Naziv</td>
                        <td>@Model.ElementAt(i).Pobjede.ToString()</td>
                        <td>@Model.ElementAt(i).Porazi.ToString()</td>
                        <td>@Model.ElementAt(i).PostignutiKosevi.ToString()</td>
                        <td>@Model.ElementAt(i).PrimljeniKosevi.ToString()</td>
                        <td>@Model.ElementAt(i).ProcentPobijeda.ToString()</td>
                    </tr>
                    j++;
                }
            }
        </tbody>
    </table>

    <h2 class="mt-4">Zapadna konferencija</h2>
    <table id="tableZapad" class="table table-hover table-sm table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor(m => m.Naziv)</th>
                <th>@Html.DisplayNameFor(m => m.Pobjede)</th>
                <th>@Html.DisplayNameFor(m => m.Porazi)</th>
                <th>@Html.DisplayNameFor(m => m.PostignutiKosevi)</th>
                <th>@Html.DisplayNameFor(m => m.PrimljeniKosevi)</th>
                <th>@Html.DisplayNameFor(m => m.ProcentPobijeda)</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0, j = 1; i < Model.Count(); i++)
            {
                if (Model.ElementAt(i).KonferencijaId == 2)
                {
                    <tr>
                        <td>@j</td>
                        <td>@Model.ElementAt(i).Grad @Model.ElementAt(i).Naziv</td>
                        <td>@Model.ElementAt(i).Pobjede.ToString()</td>
                        <td>@Model.ElementAt(i).Porazi.ToString()</td>
                        <td>@Model.ElementAt(i).PostignutiKosevi.ToString()</td>
                        <td>@Model.ElementAt(i).PrimljeniKosevi.ToString()</td>
                        <td>@Model.ElementAt(i).ProcentPobijeda.ToString()</td>
                    </tr>
                    j++;
                }
            }
        </tbody>
    </table>
</div>